/* ===== НЕ УВЕРЕН (НЕТ, потому что не видны пустые элементы) ====== */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}


a {
  color: inherit;
}


@media (hover: pointer) {
  input {
    cursor: default;
  }
}

/* Новый (плохо работает) */
.srOnly {
  position: absolute;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}