/* У страницы должна быть минимальная ширина, чтобы у пользователей с меньшим разрешением при просмотре страницы оставались работоспособны все элементы сайта */
body {
  min-inline-size: 360px;
}


/* Задавать начальные значения свойств шрифтов из макета */
body {
  font-family: "...", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  letter-spacing: 0;
}