/* Box-sizing */
html { box-sizing: border-box }
*, *::before, *::after {box-sizing: inherit}


body {
  min-inline-size: 320px;
  margin: 0;
  
  overflow-y: scroll;
}


/* Размер шрифта 1rem=1px */
/* "rem" - если в браузере изменён размер шрифта по умолчанию, чтобы сохранялись пропорции */
:root { font-size: 6.25% }
body  { font-size: 14rem }


/* Наследование шрифтов */
input,
button,
textarea,
select {
  font: inherit;
}


/* Размеры изображений */
img {
  max-inline-size: 100%;
  block-size: auto;
}


/* Отключение миганий в Chrome */
a,
summary {
  -webkit-tap-highlight-color: transparent;
}