/* ================================================== */
/* ====================== ТОЧНО ===================== */
/* ================================================== */
html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  margin: 0;

  overflow-y: scroll;
}


/* 1rem=1px */
:root { font-size: 6.25% }
body  { font-size: 14rem }


button:not(:disabled) {
  cursor: pointer;
}


.srOnly {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}


/* ================================================== */
/* ================= ДОПОЛНИТЕЛЬНО ================== */
/* ================================================== */
img {
  display: block;
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

/* ===== НЕ УВЕРЕН (НЕТ, потому что не видны пустые элементы) ====== */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}


a {
  color: inherit;
}


@media (hover: pointer) {
  input {
    cursor: default;
  }
}

/* Новый (плохо работает) */
.srOnly {
  position: absolute;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}