/* Размер шрифта 1rem=1px */
/* "rem" - если в браузере изменён размер шрифта по умолчанию, чтобы сохранялись пропорции */
:root { font-size: 6.25% }
/* body  { font-size: 16rem } */


body {
  /* Запретить ширину меньше 320px */
  min-inline-size: 320px;
  
  /* Шрифт без засечек */
  font-family: sans-serif;
  /* Стандартный размер браузеров 16px = 16rem */
  font-size: 16rem;
  /*  */
  line-height: 1.15;
  
  /* По умолчанию прокрутка у всех страниц */
  overflow-y: scroll;
}