/* Плохой пример */
/* input:focus {
  outline: none;
} */



/* Хороший пример */
/* Стилизация фокуса при навигации с помощью клавиатуры */
input:focus-visible {
  outline: 4ps dashed black;
}

/* Стилизация фокуса при навигации с помощью мыши, тача или стилуса */
input:focus:not(:focus-visible) {
  outline: none;
  box-shadow: 1px 1px 5px rgba(1, 1, 0, 0.7);
}